body {
  background: rgba(120, 120, 120, 0.2);
}

.main-title {
  padding: 8px;
  width: 35%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.container {
  width: 98%;
  padding: 4px;
  padding-top: 26px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.poke-card {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  justify-content: space-around;
  width: 23.5%;
  border: 2px solid rgba(140, 140, 140, 0.5);
  margin-bottom: 21px;
  border-radius: 8%;
  outline: none;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.4),
    rgba(233, 233, 233, 0.6)
  );
  box-shadow: 1px 1px 5px 1px;
}

.poke-card:hover {
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.4),
    rgba(100, 100, 100, 0.6) 30%,
    rgba(233, 233, 233, 0.6)
  );
}

.poke-name {
  color: rgba(0, 0, 0, 0.5);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
  font-weight: 600;
  font-size: 2.4vw;
  letter-spacing: 1px;
  width: 90%;
  margin: 6px auto;
  padding: 3px;
  box-sizing: border-box;
}

.poke-image {
  padding: 2px;
  margin: auto;
  width: 80%;
  height: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  box-sizing: border-box;
}

.poke-abilities {
  width: 90%;
  height: 50px;
  margin: auto;
  padding: 1px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}

.poke-abilities > p {
  font-size: 1.7vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  margin: auto;
  font-variant: small-caps;
}

.poke-abilities > p.poison {
  color: hsla(266, 54%, 48%, 0.89);
}

.poke-abilities > p.grass {
  color: hsla(120, 82%, 26%, 0.63);
}

.poke-abilities > p.fire {
  color: hsla(9, 84%, 41%, 0.76);
}

.poke-abilities > p.water {
  color: hsla(219, 87%, 37%, 0.562);
}

.poke-abilities > p.flying {
  color: hsla(291, 74%, 53%, 0.657);
}

.poke-abilities > p.bug {
  color: hsla(69, 77%, 29%, 0.883);
}

.info-panel {
  overflow: scroll;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 15%;
  top: 8%;
  border-radius: 7%;
  width: 70%;
  height: 85%;
  margin: 1px;
  padding: 3px;
}

.name {
  color: aliceblue;
  font-size: 3.4vw;
  width: 40%;
  margin: auto;
  text-align: center;
}

.info-image {
  margin: 3px auto;
  height: 50%;
  width: 40%;
  padding: 3px;
  text-align: center;
}

.info-image > img {
  height: auto;
  width: 75%;
}

.content {
  font-family: sans-serif;
  padding: 3px;
  width: 70%;
  margin: auto;
  text-align: justify;
  color: rgba(240, 248, 255, 0.8);
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.close-button {
  width: 3.8%;
  height: 2.5%;
  border-radius: 13%;
  padding-bottom: 2px;
  outline: none;
  position: fixed;
  left: 75%;
  top: 10%;
  font-size: 0.8vw;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.4),
    rgba(100, 100, 100, 0.6) 30%,
    rgba(233, 233, 233, 0.6)
  );
}
